@model QuizzApp.Models.Pergunta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pergunta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Imagem
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImagemPath))
            {
                <img src="@Model.ImagemPath" alt="Imagem da Pergunta" class="img-fluid" />
            }
            else
            {
                <span>No Image</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resposta1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resposta1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resposta2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resposta2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resposta3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resposta3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resposta4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resposta4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RespostaCorreta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RespostaCorreta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quizz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quizz.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Perguntas" asp-route-quizzId="@Model.quizzid">Voltar</a>
</div>